body {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
  }

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: lightseagreen;
}

.brand > .logo > img {
    height:50px;
    width:100%;
    border-radius: 8px;

}



.img-background {
    height: 500px;
    width: 50%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 30px;
    margin-bottom: 30px;
}

.img-background:hover {
    height: 700px;
    width: 90%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 30px;
}
.img-background1 {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 30px;
    margin-bottom: 30px;
}

.img-background1:hover {
    height: 500px;
    width: 90%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 30px;
}

.img-background3 {
    height: 500px;
    width: 50%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 30px;
    margin-bottom: 30px;
}

.img-background3:hover {
    height: 500px;
    width: 60%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 30px;
}

.img-background2 {
    height: 900px;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 30px;
    margin-bottom: 30px;
}

.img-background2:hover {
    height: 900px;
    width: 90%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 30px;
}



.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

.avt-photo {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.05fr 1fr;
}

.link a {
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}

.text-wrapper {
    text-shadow: 1px 1px #8a8a8a;
}

.container {
    background-color: rgb(223, 6, 107);
    background-size: cover;

}